﻿@using Cinema.Models
@model SubNavigetionMenu


    <ul class="dropdown-menu">
        <li class="@(SubNavigetionMenu.Movis == Model ? "active": string.Empty)">@Html.ActionLink("Movies", "MoviesList", "Admin")</li>
        <li class="@(SubNavigetionMenu.Halls == Model ? "active": string.Empty)">@Html.ActionLink("Halls ", "GetHallList", "Admin")</li>
        <li class="@(SubNavigetionMenu.Timeslosts == Model ? "active": string.Empty)">@Html.ActionLink("Timeslots", "GetTimeslotsList", "Admin")</li>
    </ul>

