﻿@model Cinema.Models.LoginModel

@using (Html.BeginForm("Login","Account", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m=>m.Login)
        @Html.EditorFor(m => m.Login)
        @Html.ValidationMessageFor(m=>m.Login)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m=>m.Password)
    </div>
    @Html.ValidationSummary()

    <input type="submit" value="Login"/>
} 