﻿@using Cinema.Models
@model Cinema.Models.Domain.TimeSlot

@section SubNav
{
    @Html.Partial("SubNaivigation", SubNavigetionMenu.Timeslosts)
}

@using (Html.BeginForm("EditTimeslot", "Admin"))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.MovieId)
    @Html.HiddenFor(x => x.HallId)


    <div>
        @Html.LabelFor(x => x.Cost)
        @Html.EditorFor(x => x.Cost)
        @Html.ValidationMessageFor(x => x.Cost)
    </div>

    <div>
        @Html.LabelFor(x => x.Format)
        @Html.EditorFor(x => x.Format)
        @Html.ValidationMessageFor(x => x.Format)
    </div>

    <div>
        @Html.LabelFor(x => x.StartTime)
        @Html.EditorFor(x => x.StartTime)
        @Html.ValidationMessageFor(x => x.StartTime)
    </div>

    <input type="submit" value="Save change" />

}
