﻿@using Cinema.Models
@model Cinema.Models.Domain.Hall[]

@section SubNav
{
    @Html.Partial("SubNaivigation", SubNavigetionMenu.Halls)
}

<table>
    <tr>
        <th style="min-width: 50px">Name</th>
        <th style="min-width: 50px">Places</th>
        <th>Action</th>
    </tr>
    @foreach (var hall in Model)
    {
        <tr>
            <td align="left">@hall.Name</td>
            <td align="center">@hall.Places</td>
            <td>@Html.ActionLink("Edit", "EditHall", "Admin", new { hallId = hall.Id }, null)</td>
        </tr>
    }

</table>