﻿@using Cinema.Models
@model Cinema.Models.Domain.TimeSlot[]

@section SubNav
{
    @Html.Partial("SubNaivigation", SubNavigetionMenu.Timeslosts)
}

<table>
    <tr>
        <th style="min-width: 50px">Cost</th>
        <th style="min-width: 60px">Format</th>
        <th style="min-width: 70px">Hall</th>
        <th style="min-width: 200px">Movie</th>
        <th style="min-width: 200px">Start Time</th>
        <th style="min-width: 200px">Action</th>
    </tr>


    @foreach (var timeslot in Model)
    {
        <tr>
            <td>@timeslot.Cost</td>
            <td>@timeslot.Format</td>
            <td>@timeslot.HallId</td>
            <td>@timeslot.MovieId</td>
            <td align="left">@timeslot.StartTime</td>
            <td>@Html.ActionLink("Edit", "EditTimeslot", "Admin", new { timeslotId = timeslot.Id }, null)</td>
        </tr>
    }
</table>