﻿@using Cinema.Models
@model Cinema.Models.Domain.Movie[]
@section SubNav
{
    @Html.Partial("SubNaivigation", SubNavigetionMenu.Movis)
}

<table class="table table-striped table-bordered">    
        <tr>
        <th class="col">Id</th>
        <th>Poster</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
   
    @foreach (var movie in Model)
         {
            <tr>
                <td>@movie.Id</td>
                <td>
                    <img style="max-height: 100px" src="@movie.ImgUrl" />
                </td>
                <td>@movie.Title</td>
                <td>@movie.Description</td>
                <td>
                    @Html.ActionLink("Edit", "EditMovie", "Admin", new { movieId = movie.Id }, new { @class = "btn btn-primary btn-block" })
                    @Html.ActionLink("Timeslots", "GetMovieTimeslotsList", "Admin", new { movieId = movie.Id }, new { @class = "btn btn-primary btn-block" })
                </td>
            </tr>
         }
</table>